.dot {
    display: flex;
  flex-direction: column;
  margin-top: 20px;
  }
  .send_mail_container {
    display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 8px;
  
}

.send_mail_container:hover {
    background-color: #f5f5f5;
  }

  .send_mail_container:hover .div_span {
    color: #333; /* Adjust the text color on hover for better readability */
  }

.send_mail_main_div {
    margin-top: -39rem;
    margin-left: 18rem;
 overflow-y: scroll;
 overflow-x: hidden;
 max-height: 40rem;
}

.email_body {
    display: flex;
    justify-content: space-evenly;
}

.send_mail_container span {
    margin-right: 7rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.div_snap{
    display: flex;
    justify-content: flex-start;
}
.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff5e3a;
    margin-right: 10px;
  }
  .hr {
    border: 0.5px solid #e5e5e5;
    margin: 5px 0;
  }
  .send_mail_container span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .div_span {
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
  }
.button {
  visibility: hidden;
  margin-right: 3rem;
  padding: 5px 5px;
  font-size: 16px;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #c0392b;
  
}

.button:focus {
  outline: none;
}

.send_mail_container:hover .button {
  visibility: visible;
}